*{

    padding:0%;
    margin: 0%;
    box-sizing: border-box;

}

:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;
    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
}

body{
background: #E4EBF5;
justify-content: center;
align-items: center;
/* display: flex; */
width: 100%;
height: 100%;
min-height: 100vh;
position: relative;

}


header{
width: 100%;
height: auto;
text-align: center; 
padding: 4px;
box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);


}

.inputer,.outputer{
    margin-top: 50px;
    width: 100%;
    height: 50%;
    background: #E4EBF5;
    padding: 10px;
    border-radius: 3rem;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
    justify-content: center;
    display: grid;
}


input[type="text"] {
    width: 350px;
    height: 50px;
    border-radius: 10px;
    outline: none;
    padding: 5px;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
    background: none;
    font-family: inherit;
    color: black;
    border: none;
    font-weight: bold
    
  
}

button {
    width: 13rem;
    height: 3rem;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    justify-self: center;
    border: none;
    margin-top: 20px;
    background: none;
    font-weight: bold;
    cursor: pointer;
}
button:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}


 /* for ripple css  */
 .ripple {
    overflow: hidden;
    position: relative;
}

.ripple .rippleff {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    transform: scale(0);
    animation: ripple 0.6s linear;
}

@keyframes ripple {
    to {
        transform: scale(2.5);
        opacity: 0;
    }
}
  /* customize side scrollbar  */
  ::-webkit-scrollbar {
    width: 0px;
    cursor: pointer; 
    background: none;

  }

  .notify{
      width: 25s0px;
      height: 30px;
      background: none;
      position: absolute;
      bottom: 150px;
      left: -250px;
      border-radius: 5px;
      padding: 5px;
      box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);

  }

  .credit{
      padding: 10px;
      box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
position: absolute;
bottom: 90px;
left:300px;
border-radius: 5px;

  }
  .credit a{
      text-decoration: none;
      color: black;
  }